{% block content %}
<div class="card border-dark mb-3">
  <div class="card-header">Agregar tipo de Medicamento.</div>
  <div class="card-body">
    <div class="card-text">
      <form action="">
        <div class="form-group pb-2">
          <label>Nombre:</label>
          <input type="text" class="form-control p-2 mt-1" placeholder="Nombre del tipo de medicamento" required>
        </div>
        <input type="submit" class="btn btn-success p-2 w-100" value="Crear">
      </form>
    </div>
  </div>
</div>
{% endblock %}