{% extends "base_template.html" %}

{% block title %}Tipos de medicamentos{% endblock %}
{% block content %}

<div class="col-12 p-4">
    <div class="shadow p-3 mb-2 bg-white font-weight-bold rounded text-mda-negro border-bottom border-5 border-primary">
        Tipos de medicamento.
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-5">
        {% include '/tipoMedicamento/altaTipoMedicamento.html' %}
    </div>
    <div class="col-md-5">
        <table class="table table-hover">
            <thead class="table-success">
              <tr>
                <th scope="col">ID </th>
                <th scope="col">Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Active</th>
                <td>Column content</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>


{% endblock %}