{% extends "base_template.html" %}

{% block title %}Medicamentos{% endblock %}
{% block content %}

<div class="col-12 p-4">
    <div class="shadow p-3 mb-2 bg-white font-weight-bold rounded text-mda-negro border-bottom border-5 border-primary">
        Listado general de medicamentos.
    </div>
</div>

<div class="col-md-12 p-4">
    <table class="table table-hover">
        <thead class="table-success">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Codigo numerico</th>
            <th scope="col">Nombre comercial</th>
            <th scope="col">Nombre (Tipo de droga)</th>
            <th scope="col">Tipo de medicamento</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Active</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>
                <div>
                    <a href="{{ url_for('verificarCodigo', idMedicamento=1) }}" class="text-decoration-none">
                        <div class="card border-dark mb-3" style="background-color: #dbf2e3;">
                            <div class="card-header">Verificar codigo de producto.</div>
                        </div>
                    </a>
                </div>
            </td>
            <td>
                <div>
                    <a href="{{ url_for('esPrioritario', idMedicamento=1) }}" class="text-decoration-none">
                        <div class="card border-dark mb-3" style="background-color: #dbf2e3;">
                            <div class="card-header">Verificar prioridad del producto.</div>
                        </div>
                    </a>
                </div>
            </td>
          </tr>
        </tbody>
    </table>
</div>

<div class="row justify-content-center mt-5 px-4">
    <div class="col-md-4">
        <a href="{{ url_for('altaMedicamento') }}" class="text-decoration-none">
            <div class="card border-dark mb-3">
                <div class="card-header">Crear medicamento.</div>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="{{ url_for('listarMedicamentosAerosol') }}" class="text-decoration-none">
            <div class="card border-dark mb-3">
                <div class="card-header">Listar medicamentos de tipo Aerosol.</div>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="{{ url_for('listarMedicamentosNombreComercialA') }}" class="text-decoration-none">
            <div class="card border-dark mb-3">
                <div class="card-header">Listar medicamentos con nombre comercial A.</div>
            </div>
        </a>
    </div>
</div>

{% endblock %}