{% extends "base_template.html" %}

{% block content %}

<div class="col-12 p-4">
    <div class="shadow p-3 mb-2 bg-white font-weight-bold rounded text-mda-negro border-bottom border-5 border-primary">
        {% if g.verificado %}
        El digito verificador es correcto.
        {% else %}
        El digito verificador no es correcto o el codigo numerico no tiene el formato correcto. 
        {%endif%}
    </div>
</div>

<div class="col-md-4" style="width: 5%; margin-left: 25px;">
    <a href="{{ url_for('homeMedicamento') }}" class="text-decoration-none">
        <div class="card border-dark mb-3">
            <div class="card-header">Volver</div>
        </div>
    </a>
</div>


{% endblock%}