{% extends "base_template.html" %}

{% block title %}Inicio{% endblock %}
{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <a href="{{ url_for('homeMedicamento') }}" class="text-decoration-none">
            <div class="card border-dark mb-3">
                <div class="card-header">Medicamentos</div>
                <div class="card-body">
                    <p class="card-text">Haga clic para acceder a la lista de medicamentos.</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="{{ url_for('homeTipoMedicamento') }}" class="text-decoration-none">
            <div class="card border-dark mb-3">
                <div class="card-header">Tipos de medicamentos</div>
                <div class="card-body">
                    <p class="card-text">Haga clic para acceder a la lista de tipos de medicamentos.</p>
                </div>
            </div>
        </a>
    </div>
</div>

{% endblock %}